__pycache__/
.DS_Store
app/resources/ffmpeg/*
app/ui/library/qfluentwidgets/_rc/resource.py
app/ui/library/qframelesswindow/_rc/resource.py
app/ui/resources/resource.py
dist/*
app/resources/deps/super_resolution/*